<div class="col-md-9 col-md-push-1">
  <table class="table table-hover" name="record-items">
    <thead>
      <tr>
        <th class="col-md-4">Name</th>
        <th class="col-md-2">Buying Price</th>
        <th class="col-md-2">Selling Price</th>
        <th class="col-md-1">Qty</th>
        <th class="col-md-2">Unit</th>
      </tr>
      <tr [ngClass]="{
        'np-form-status-ok':formStatus.OK,
        'np-form-status-notok':!formStatus.OK}">
        {{ formStatus.text }}
      </tr>
      <tr>
        <td contenteditable="true" data-text="Item" (input)="clearError(item)"(keydown.enter)="clickAddButton()" #item></td>
        <td contenteditable="true" data-text="Purchase Cost" (input)="clearError(pcost);isNumber(pcost)" (keydown.enter)="clickAddButton()" #pcost></td>
        <td contenteditable="true" data-text="Selling Price" (input)="clearError(sprice);isNumber(sprice)" (keydown.enter)="clickAddButton()" #sprice></td>
        <td contenteditable="true" data-text="Qty" (input)="clearError();isNumber(qty)" (keydown.enter)="clickAddButton()" #qty></td>
        <td contenteditable="true" data-text="Unit" (input)="clearError();checkIfHasNumber(unit)" (keydown.enter)="clickAddButton()" #unit></td>
        <td id="addButton">
          <a id="addisiaButton" class="pull-right" (click)="addItem()">
            <i class="icon ion-android-add-circle"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="5">
          <button class="btn btn-success pull-right" (click)="postItems()">
            Add
            <span>{{ getNumberOfItems() }} items</span>
          </button>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items let i=index">
        <td>{{ item.itemName }}</td>
        <td>{{ item.purchaseCost }}</td>
        <td>{{ item.sellingPrice }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.unit }}</td>
        <td>
          <a class="pull-right" (click)="removeItem(i)">
            <i class="icon ion-android-remove-circle"></i>
          </a>
        </td>
      </tr>
    </tbody>
    <tfoot>

    </tfoot>
  </table>
</div>