.bla{
    height: 50px;
}
.red{
    background: red;
}
.pull-right i{
    font-size: 20px;

}
a .ion-android-remove-circle{
    color: #b73333;

}
    a .ion-android-remove-circle:hover{
        color: #7c2323;

    }
.bx-shadow{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);  

}
.np-form-status-notok{
    color: red;
}
.np-form-status-ok{
    color: green;
}
.table>tfoot>tr>td~td{
    border-left: none;
    
}
tfoot td~td{
    border-left: 1px solid #e5e5e5;

}
tfoot td:focus{
    border-bottom: 2px solid blue;

}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)

}
[contentEditable=true]::before{
    color: gray;

}
#addButton i{
    cursor: pointer;

}
.error-field{
    border-bottom: 2px solid red;
}