            <!-- side body -->
            <div class="side-body">
                <!-- separate nav for ease development -->
                <nav class="side-nav">
                    <!-- open nav ul -->
                    <ul>
                        <li class="side-nav-item active">
                            <a href="custom-blank.html">
                                <i class="nav-item-icon icon ion-social-rss-outline"></i>
                                Blank
                            </a>
                        </li><!-- /.side-nav-item -->
                        <li class="side-nav-item">
                            <a href="custom-form-elements.html">
                                <i class="nav-item-icon icon ion-social-rss-outline"></i>
                                Form Elements
                            </a>
                        </li><!-- /.side-nav-item -->
                        <li class="side-nav-item">
                            <a href="#level1">
                                <span class="badge">4</span>
                                <i class="nav-item-caret"></i>
                                <i class="nav-item-icon icon ion-navicon"></i>
                                Maintanance
                            </a>
                            <!-- /level menu child -->
                            <ul id="level1" class="side-nav-child">
                                <li class="side-nav-item-heading">
                                    <a href="#" class="side-nav-back">
                                        <i class="nav-item-caret"></i>
                                       Maintanance
                                    </a>
                                </li><!-- /header level menu child -->
                                                     <li class="side-nav-item">
                                    <a href="form_elements.html">
                                        <i class="nav-item-icon icon ion-ios-help-outline"></i>
                                        Slot Types
                                    </a>
                                </li><!-- /form-element -->
                                <li class="side-nav-item">
                                    <a href="form_wizard.html">
                                        <i class="nav-item-icon icon ion-ios-help-outline"></i>
                                        Slot Manufacturers
                                    </a>
                                </li><!-- /manufacturers -->
                                <li class="side-nav-item">
                                    <a href="form_wysiwyg.html">
                                        <i class="nav-item-icon icon ion-ios-help-outline"></i>
                                        Slot Groups
                                    </a>
                                </li><!-- /groups -->

                                <li class="side-nav-item">
                                  <a [routerLink]= "['/slots']">
                                        <i class="nav-item-icon icon ion-ios-help-outline"></i>
                                        Slots
                                    </a>
                                </li><!-- /Slots -->
                                <li class="side-nav-item">
                                    <a href="form_wysiwyg.html">
                                        <i class="nav-item-icon icon ion-ios-help-outline"></i>
                                        User Roles
                                    </a>
                                </li><!-- /roles -->

                                <li class="side-nav-item">
                                    <a [routerLink]= "['/users']">
                                        <i class="nav-item-icon icon ion-ios-help-outline"></i>
                                        Users
                                    </a>
                                </li><!-- /Users -->

                                <li class="side-nav-item">
                                    <a href="form_wysiwyg.html">
                                        <i class="nav-item-icon icon ion-ios-help-outline"></i>
                                        Tables
                                    </a>
                                </li><!-- /tables -->

                                <li class="side-nav-item">
                                    <a href="form_wysiwyg.html">
                                        <i class="nav-item-icon icon ion-ios-help-outline"></i>
                                        Customers
                                    </a>
                                </li><!-- /customers -->
   
                            </ul><!-- /level menu child -->
                        </li><!-- /level menu -->
                    </ul><!-- /nav ul-->
                </nav><!-- /nav-->

            </div><!-- /side body -->