            <!-- side body -->
            <div class="side-body">
                <!-- separate nav for ease development -->
                <nav class="side-nav">
                    <!-- open nav ul -->
                    <ul>
                        <li class="side-nav-item"> <!-- add class active dynamically-->
                            <a routerLink="/transactions">
                                <i class="nav-item-icon icon ion-social-rss-outline"></i>
                                Recent Transactions
                            </a>
                        </li><!-- /.side-nav-item -->
                        <li class="side-nav-item">
                            <a routerLink="/record">
                                <i class="nav-item-icon icon ion-social-rss"></i>
                                Record Transactions
                            </a>
                        </li><!-- /.side-nav-item -->
                        <li class="side-nav-item">
                            <a routerLink="/stats">
                                <i class="nav-item-icon icon ion-social-rss"></i>
                                Statistics
                            </a>
                        </li><!-- /.side-nav-item -->
                        <li class="side-nav-item">
                            <a href="#level1">
                                <span class="badge">4</span>
                                <i class="nav-item-caret"></i>
                                <i class="nav-item-icon icon ion-navicon"></i>
                                First level
                            </a>
                            <!-- /level menu child -->
                            <ul id="level1" class="side-nav-child">
                                <li class="side-nav-item-heading">
                                    <a href="#" class="side-nav-back">
                                        <i class="nav-item-caret"></i>
                                       Back to First level
                                    </a>
                                </li><!-- /header level menu child -->
                                <li class="side-nav-item">
                                    <a href="#level2">
                                        <i class="nav-item-caret"></i>
                                        <i class="nav-item-icon icon ion-ios-help-outline"></i>
                                        Second level
                                    </a>
                                    <ul id="level2" class="side-nav-child">
                                        <li class="side-nav-item-heading">
                                            <a href="#" class="side-nav-back">
                                                <i class="nav-item-caret"></i>
                                                Back to Second level
                                            </a>
                                        </li><!-- /header level menu child -->
                                        <li class="side-nav-item">
                                            <a href="form_elements.html">
                                                <i class="nav-item-icon icon ion-ios-help-outline"></i>
                                                Third level
                                            </a>
                                        </li>
                                    </ul>
                                </li><!-- /form-element -->
                                <li class="side-nav-item">
                                    <a href="form_wizard.html">
                                        <i class="nav-item-icon icon ion-ios-help-outline"></i>
                                        Slot Manufacturers
                                    </a>
                                </li><!-- /manufacturers -->
                                <li class="side-nav-item">
                                    <a [routerLink]= "['/users']">
                                        <i class="nav-item-icon icon ion-ios-help-outline"></i>
                                        Users
                                    </a>
                                </li><!-- /Users -->

                                <li class="side-nav-item">
                                    <a href="form_wysiwyg.html">
                                        <i class="nav-item-icon icon ion-ios-help-outline"></i>
                                        Tables
                                    </a>
                                </li><!-- /tables -->

                                <li class="side-nav-item">
                                    <a href="form_wysiwyg.html">
                                        <i class="nav-item-icon icon ion-ios-help-outline"></i>
                                        Customers
                                    </a>
                                </li><!-- /customers -->
   
                            </ul><!-- /level menu child -->
                        </li><!-- /level menu -->
                    </ul><!-- /nav ul-->
                </nav><!-- /nav-->

            </div><!-- /side body -->