<div class="example-container mat-elevation-z8">
  <button class="btn btn-primary" [disabled]="!updatedItems.length" (click)="postUpdate()">Update!</button>
  <mat-table #table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="itemName">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let row" [attr.contenteditable]="isContenteditable" (input)="onItemInput(row, item)" #item> {{row.itemName}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="unit">
      <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
      <mat-cell *matCellDef="let row" [attr.contenteditable]="isContenteditable" (input)="onItemInput(row, unit)" #unit> {{row.unit}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
      <mat-cell *matCellDef="let row" [attr.contenteditable]="isContenteditable" (input)="onItemInput(row, qty)" #qty> {{row.quantity}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="purchaseCost">
      <mat-header-cell *matHeaderCellDef>Buying at</mat-header-cell>
      <mat-cell *matCellDef="let row" [attr.contenteditable]="isContenteditable" (input)="onItemInput(row, bp)" #bp> {{row.purchaseCost}} </mat-cell>
    </ng-container>


    <!-- Color Column -->
    <ng-container matColumnDef="sellingPrice">
      <mat-header-cell *matHeaderCellDef>Selling at</mat-header-cell>
      <mat-cell *matCellDef="let row" [attr.contenteditable]="isContenteditable" (input)="onItemInput(row, sp)" #sp> {{row.sellingPrice}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>