<!-- content wrapper to define fullpage or container -->
<!-- (recomended: dont change the id value) -->
<section id="wrapper" class="container">
  <!-- define side left theme -->
  <aside class="side-left">
    <!-- side header -->
    <div class="side-header">
      <!-- place your brand (recomended: dont change the id value) -->
      <!-- (recomended: dont change the id value) -->
      <h1 id="brand" class="brand">
        <a href="index.html">ng-pos</a>
      </h1>
      <!-- /brand -->
    </div>
    <!-- /side header -->

    <app-sidenav></app-sidenav>

  </aside>
  <!-- /side left -->

  <!-- define content theme, use data-swipe="true" to enable gesture event -->
  <!-- (recomended: dont change the id value) -->
  <section id="content" class="content">
    <!-- define your content header here -->
    <header class="content-header">
      <!-- header actions -->
      <div class="header-actions pull-left">
        <!-- #toggle-content -->
        <button id="toggle-content" class="btn btn-icon" type="button"><i class="icon ion-navicon-round"></i></button>
        <!-- #toggle-search -->
        <button id="toggle-search" class="btn btn-icon" type="button"><i class="icon ion-search"></i></button>
      </div>
      <!-- /header actions -->

      <!-- form search, remove class hide if you not place your brand -->
      <!-- (recomended: dont change the id value) -->
      <form id="smart-search" class="side-form" role="form" style="display: none">
        <input type="text" class="form-control" placeholder="Type for something...">
      </form>
      <!-- /side wrapper -->

      <!-- your Awesome App title -->
      <!-- TO DO...use string interpolation here  -->
      <h1 class="content-title">BISMILLAH H/W</h1>
    </header>
    <!-- /side left -->


    <!-- define content row -->
    <div class="content-spliter">
      <!-- define your awesome apps here -->
      <!-- (recomended: dont change the id value) -->
      <section id="content-main" class="content-main">

        <!-- your app content -->
        <router-outlet></router-outlet>
        <!-- /content app -->

      </section>
      <!-- /content main -->
    </div>
    <!-- /content spliter -->

  </section>
  <!-- /content -->
</section>
<!-- /wrapper -->