.content-header, .side-header{
    border-bottom: 1px solid black;
}
.content-header, .side-left, .side-header {
    background-color: white;
    color: black;
}
#brand a {
    color: black;
    text-transform: lowercase;
    font-family: serif;
}
aside {
    border-right: 1px solid black;
}