<!-- ngFor this  -->
<div class="panel pill">
  <div class="row pill-head">
    <div class="col-md-4">aldfjas</div>
    <div class="col-md-4">aldfjas</div>
    <div class="col-md-4">aldfjas</div>
  </div>
  <section class="app-panel-body">
    <table class="table celled ">
      <!-- <thead class="thead">
        <tr>
          <th>Time</th>
          <th>Cusotmer</th>
        </tr>
      </thead> -->
      <tr>
        <td>jigsaw</td>
        <td>1234</td>
      </tr>
      <tr>
        <td>jigsaw</td>
        <td>1234</td>
      </tr>
      <tr>
        <td>jigsaw</td>
        <td>1234</td>
      </tr>
      <tr>
        <td>jigsaw</td>
        <td>1234</td>
      </tr>
      <tr>
        <td>jigsaw</td>
        <td>1234</td>
      </tr>
      <tr>
        <th>TOTAL</th>
        <th>0000</th>
      </tr>
    </table>
  </section>
  <!-- <div class="pill-footer"></div> -->
</div>