.col-md-4~.col-md-4{
    border-left: 1px solid #e3e3e3;
    transition: 0.3s ease-in-out;
}

.row{
    /* height: 2em; */
    margin: 0 0;
}   
    .row div{
        height: 2em;
        text-align: center;
        line-height: 2em;
        
    }

.panel{
    margin: 5px 0;
    transition: 0.1s ease-in;
}
    .panel.sa-purchase{
        background: tan;
    }
    .panel:hover{
        background: #e3e3e3;
    }
    .panel:hover .col-md-4~.col-md-4{
        border-left: 1px solid white;
    }   
    /* .panel:hover .pill-footer{
        border-top: 1px solid white;    
    } */

.pill{
    border: 0;
}
/* .pill-footer{
    height: 0.5em;
    border-top: 1px solid #e3e3e3;    
    transition: 0.3s ease-in-out;
} */
.app-panel-body{
    height: 0;  
    overflow: hidden;
    transition:0.3s ease-in-out;
}
    .app-panel-body table{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
    }
    .panel-clicked{
        height: 20em;
    }
    .app-panel-body-lg{
        border-bottom: 1px solid #e3e3e3;        
    }
p{
    font-size: 15px;
    line-height: 1em;
    height: 5em;
    overflow-wrap: break-word;
}