<div class="panel pill" [ngClass]="{'sa-purchase':isPurchase}">
  <div class="row pill-head">
    <div class="col-md-4">{{ transacDate }}</div>
    <div class="col-md-4">{{ typeInWords }}</div>
    <div class="col-md-4"></div>
  </div>
  <section class="app-panel-body">
    <table class="table celled ">
      <tr *ngFor="let item of transactionData.items">
        <td>{{ item.itemName }}</td>
        <td>{{ item.sellingPrice }}</td>
      </tr>
      <tr>
        <th>TOTAL</th>
        <th>{{ total }}</th>
      </tr>
    </table>
  </section>
</div>