<!-- ngFor this  -->
<div class="panel pill" [ngClass]="{'sa-purchase':isPurchase}">
  <div class="row pill-head">
    <div class="col-md-4">aldfjas</div>
    <div class="col-md-4">aldfjas</div>
    <div class="col-md-4">aldfjas</div>
  </div>
  <section class="app-panel-body">
    <table class="table celled ">
      <!-- <thead class="thead">
        <tr>
          <th>Time</th>
          <th>Cusotmer</th>
        </tr>
      </thead> -->
      <tr *ngFor="let item of transactionData.items">
        <td>{{ item.itemName }}</td>
        <td>{{ item.sellingPrice }}</td>
      </tr>
      <tr>
        <th>TOTAL</th>
        <th>{{ total }}</th>
      </tr>
    </table>
  </section>
  <!-- <div class="pill-footer"></div> -->
</div>