<ul class="nav nav-tabs app-tabs app-header">
  <li class="active"><a data-toggle="tab" href="#sale">Sale</a></li>
  <li><a data-toggle="tab" href="#purchase">Purchase</a></li>
</ul>

<div class="tab-content">
  <div id="sale" class="tab-pane fade in active">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 col-md-push-1 app-sale-record-tab">
          <div class="app-record-header">
            <input id="app-date" type="date">
            <div class="pull-right">
              <small>Date:</small>
              <label for="app-date">12/12/12</label>
            </div>
          </div>
          <table class="table table-hover" name="record-sales">
            <thead>
              <tr>
                <th class="col-md-4">Item</th>
                <th class="col-md-2">Qty</th>
                <th class="col-md-3">Price</th>
                <th class="col-md-3">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let saleItem of saleItems let i=index">
                <td>{{saleItem.item}}</td>
                <td>{{saleItem.quantity}}</td>
                <td>{{saleItem.price}}</td>
                <td>{{saleItem.amount}}</td>
                <td>
                  <a 
                    class="pull-right"
                    (click)="removeSaleItem(i)">
                    <i class="icon ion-android-remove-circle"></i>
                  </a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td contenteditable="true" data-text="Item" (input)="checkItem(item)" #item></td>
                <td contenteditable="true" data-text="Qty"></td>
                <td contenteditable="true" data-text="Price" #pprice></td>
                <td></td>
                <td id = "addButton">
                  <a
                    class="pull-right"
                    (click)="addSaleItem(i, item, price)">
                    <i class="icon ion-android-add-circle"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <th>TOTAL</th>
                <th>{{getTotalSaleAmount()}}</th>
              </tr>
              <tr>
                <td colspan="5"><button class="btn btn-success pull-right post"
                  (click)="postSale()">Post</button></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="purchase" class="tab-pane fade">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 col-md-push-1 app-sale-record-tab">
          <div class="app-record-header">
            <input id="app-date" type="date">
            <div class="pull-right">
              <small>Date:</small>
              <label for="app-date">12/12/12</label>
            </div>
          </div>
          <table class="table table-hover" name="record-purchases">
            <thead>
              <tr>
                <th class="col-md-7">Item</th>
                <th class="col-md-4">Amount</th>
                <th class="col-md-1"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let purchaseItem of purchaseItems let i=index">
                <td>{{purchaseItem.item}}</td>
                <td>{{purchaseItem.quantity}}</td>
                <td>{{purchaseItem.price}}</td>
                <td>{{purchaseItem.amount}}</td>
                <td>
                  <a 
                    class="pull-right"
                    (click)="removePurchaseItem(i)">
                    <i class="icon ion-android-remove-circle"></i>
                  </a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td contenteditable="true" data-text="Item" (input)="checkItem(item)" #pitem></td>
                <td contenteditable="true" data-text="Qty"></td>
                <td contenteditable="true" data-text="Price" #pprice></td>
                <td>000</td>
                <td id = "addButton">
                  <a
                    class="pull-right"
                    (click)="addPurchaseItem(i, pitem, pprice)">
                    <i class="icon ion-android-add-circle"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <th>TOTAL</th>
                <th>{{getTotalPurchaseAmount()}}</th>
              </tr>
              <tr>
                <td colspan="3"><button class="btn btn-success pull-right post"
                  (click)="postPurchase()">Post</button></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>