<div class="app-header">
  <div class="row">
    <div class="app-stats-header col-md-10 col-md-offset-1 clearfix">
      <button class="btn pull-left col-md-2" (click)="previousYear()">
        <span class="ion-arrow-left-a"></span>
      </button>
      <h3 class="col-md-2 col-md-offset-3 pull-left" [innerHTML]="statsDate.year"></h3>
      <button class="btn pull-left col-md-offset-3 col-md-2" (click)="nextYear()">
        <span class="ion-arrow-right-a"></span>
      </button>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="!viewDetailed">
  <div class="row">
    <div *ngFor="let rowData of monthlyStats" class="col-md-4 np-monthly-stats">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{ rowData.month }}
            <mat-card-subtitle>
              Sales profit: 
              <b>{{ rowData.profitLoss }}</b>
            </mat-card-subtitle>
          </mat-card-title>
          <br>
        </mat-card-header>
        <mat-card-content class="np-non-detailed">
          <mat-card-subtitle>
            <b>Total sales: </b>{{ rowData.sales }}</mat-card-subtitle>
          <mat-card-subtitle>
            <b>Total purchases: </b>{{ rowData.purchases }}</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-push-1">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="col-md-3">Month</th>
            <th class="col-md-3">Sales</th>
            <th class="col-md-3">Purchases</th>
            <th class="col-md-3">Profit/Loss</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rowData of monthlyStats">
            <td>
              <b>{{ rowData.month }}</b>
            </td>
            <td>{{ rowData.sales }}</td>
            <td>{{ rowData.purchases }}</td>
            <td>{{ rowData.profitLoss }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>TOTAL</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div> -->