.bx-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.app-header {
    height: 100px;
    position: sticky;
    top: 0;
    margin-bottom: 1em;
}

.row {
    margin-bottom: 10px;
}

.app-stats-header h3 {
    margin-top: 6px;
}

hr {
    color: #333;
    margin-top: 10px;
    margin-bottom: 5px;
}

mat-card {
    height: 15em;
}

mat-card.detailed {
    height: 100%;
    width: 100%;
    z-index: 99;
}

mat-card-content.np-non-detailed {
    position: absolute;
    bottom: 3em;
}

mat-card-content.np-detailed {}

.np-monthly-stats {
    margin-bottom: 1em;
}

.col-md-1~button {
    margin-left: 1%;
}

.btn.col-md-1 {
    color: whitesmoke;
    width: 7.333%;
}

.np-btn-month:nth-child(1) {
    background: #8cb5d1;
}

.np-btn-month:nth-child(2) {
    background: #a6a39e;
}

.np-btn-month:nth-child(3) {
    background: #f08386;
}

.np-btn-month:nth-child(4) {
    background: #66ccb7;
}

.np-btn-month:nth-child(5) {
    background: #f1c073;
}

.np-btn-month:nth-child(6) {
    background: #4ec09f;
}

.np-btn-month:nth-child(7) {
    background: #8cb5d1;
}

.np-btn-month:nth-child(8) {
    background: #ed8175;
}

.np-btn-month:nth-child(9) {
    background: #80696f;
}

.np-btn-month:nth-child(10) {
    background: #d1d86f;
}

.np-btn-month:nth-child(11) {
    background: #614840;
}

.np-btn-month:nth-child(12) {
    background: #a76294;
}

table {
    text-align: center;
}

th {
    text-align: center;
}