.red{
    background: red;
}
.app-header{
    padding: 0;
    position: fixed;

}
div.row{
    align-items: center; 
    margin-top: 5em;

}
.bx-shadow{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);     
}
.np-receipts{
    margin-bottom: 1em;

    transition: all 1s ease-in-out;
}
mat-card{
    height: 20em;
    overflow: auto;
    padding-top: 0;
}
    mat-card:hover{
    }
    mat-card.selected{
        border: 1px solid #ac2925;
    
    }
mat-card-header{
    display: block;
}
mat-card-title{
    color: #2c3e50;
    font-weight: bold;
}
.np-close-button{
    position: absolute;
    right: 3px;
    top: -10px;
    padding: 0.1px 4.5px;
    border-radius: 50%;
    border-width: 2px;
    background-color: transparent;
    color: #ac2925;
    font-weight: bold;

    z-index: 98;
}