<!-- confirmation modal -->
<np-modal [(visible)]="showDialog" [options]="modalOpts" (confirmed)="isConfirmed($event)">
</np-modal>

<div class="app-header">
</div>
<div class="np-recent-container">
  <div class="row">
    <div [@npRecentTransacsAnimation]="displayedTransacs.length-1" class="col-md-12">
      <div class="col-md-4 np-receipts" *ngFor="let transac of displayedTransacs">
        <span class="btn btn-danger np-close-button" (click)="showModal(true, [], transac.transactionId)">X</span>
        <mat-card>
          <mat-card-header>
            <mat-card-title>BISMILLAH TIMBER & H/W</mat-card-title>
            <mat-card-title>{{ transac.date }}</mat-card-title>
            <mat-card-subtitle *ngIf="transac.transactionType==1">Sale</mat-card-subtitle>
            <mat-card-subtitle *ngIf="transac.transactionType==2">Purchase</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <table class="table">
              <thead>
                <th>qty</th>
                <th>item</th>
                <th>price</th>
                <th>total</th>
              </thead>
              <tr *ngFor="let item of transac.items">
                <td>{{ item.quantity }}x</td>
                <td class="np-card-itemName">{{ item.itemName }}</td>
                <td *ngIf="transac.transactionType==2" class="np-purchase-card">{{ item.purchaseCost }}</td>
                <td *ngIf="transac.transactionType==1" class="np-sale-card">{{ item.sellingPrice }}</td>
                <td *ngIf="transac.transactionType==2" class="np-purchase-card">{{ item.purchaseCost * item.quantity }}</td>
                <td *ngIf="transac.transactionType==1" class="np-sale-card">{{ item.sellingPrice * item.quantity }}</td>
              </tr>
              <tr>
                <td>
                  <b>Total:</b>
                </td>
                <td></td>
                <td></td>
                <td>
                  <b>{{ transac.total }}</b>
                </td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>