<!-- <div class="row" style="border-bottom:1px solid; height:4em;">
  <div class="col-md-3" style="text-align:center; height:inherit; border-right: 1px solid">
    <span>2017</span>
  </div>
  <div class="col-md-9" style="height:inherit;">
    <span>January</span>
  </div>
</div>  -->
<div class="app-header">
  <div class="row">
    <div class="col-md-2">
      <small class="text-muted">Showing records for:</small>
    </div>
    <div class="col-md-1">
      <b>2017</b>
    </div>
    <!-- TO DO: add mor columns to incorporate date-time picker  -->
    <div class="col-md-1">Feb</div>
    <div class="col-md-2 pull-right col-md-push-6">
      <input type="date">
    </div>
  </div>
</div>
<div class="container-fluid transacs">
  <div class="row">
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <app-transaction-pill *ngFor="let pill of transactions let i = index" [transactionData]="transactions[i]" (click)="extendPill(i)"></app-transaction-pill>
    </div>
  </div>
</div>