mat-card {
    padding-top: 1em;
    height: 83%;
    position: sticky;
    bottom: 0;
    overflow: hidden;
}

.row {
    height: 100%;
}

mat-card-content.col-md-2 {
    height: 100%;
}

mat-card-content.col-md-2:hover {
    background: red;
}